<a href="https://colab.research.google.com/github/JackRossProjects/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np

<h1>Assignment Question 1</h1>

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')
df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [3]:
import re
text = """
1. Class Name: 2 (democrat, republican)
2. handicapped-infants: 2 (y,n)
3. water-project-cost-sharing: 2 (y,n)
4. adoption-of-the-budget-resolution: 2 (y,n)
5. physician-fee-freeze: 2 (y,n)
6. el-salvador-aid: 2 (y,n)
7. religious-groups-in-schools: 2 (y,n)
8. anti-satellite-test-ban: 2 (y,n)
9. aid-to-nicaraguan-contras: 2 (y,n)
10. mx-missile: 2 (y,n)
11. immigration: 2 (y,n)
12. synfuels-corporation-cutback: 2 (y,n)
13. education-spending: 2 (y,n)
14. superfund-right-to-sue: 2 (y,n)
15. crime: 2 (y,n)
16. duty-free-exports: 2 (y,n)
17. export-administration-act-south-africa: 2 (y,n)
"""
pattern = re.compile(r'\b[a-zA-Z -]+(?=:)')
re.findall(pattern=pattern, string=text)

['Class Name',
 'handicapped-infants',
 'water-project-cost-sharing',
 'adoption-of-the-budget-resolution',
 'physician-fee-freeze',
 'el-salvador-aid',
 'religious-groups-in-schools',
 'anti-satellite-test-ban',
 'aid-to-nicaraguan-contras',
 'mx-missile',
 'immigration',
 'synfuels-corporation-cutback',
 'education-spending',
 'superfund-right-to-sue',
 'crime',
 'duty-free-exports',
 'export-administration-act-south-africa']

In [0]:
column_headers = re.findall(pattern=pattern, string=text)

In [0]:
df.columns = column_headers

In [51]:
df['physician-fee-freeze'].value_counts()

0.0    247
1.0    176
Name: physician-fee-freeze, dtype: int64

In [8]:
df.describe()

       Class Name  ... export-administration-act-south-africa
count         434  ...                                    434
unique          2  ...                                      3
top      democrat  ...                                      y
freq          267  ...                                    268

[4 rows x 17 columns]

In [9]:
df.isnull().sum()

Class Name                                0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [10]:
df = df.replace({'?': np.NaN})
df.head(10)

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                    NaN
1    democrat  ...                                      n
2    democrat  ...                                      y
3    democrat  ...                                      y
4    democrat  ...                                      y
5    democrat  ...                                      y
6  republican  ...                                      y
7  republican  ...                                      y
8    democrat  ...                                    NaN
9  republican  ...                                      n

[10 rows x 17 columns]

In [0]:
df = df.replace({'y':1, 'n':0})

In [0]:
dem = df[df['Class Name'] == 'democrat']

In [18]:
dem

    Class Name  ...  export-administration-act-south-africa
1     democrat  ...                                     0.0
2     democrat  ...                                     1.0
3     democrat  ...                                     1.0
4     democrat  ...                                     1.0
5     democrat  ...                                     1.0
..         ...  ...                                     ...
424   democrat  ...                                     NaN
425   democrat  ...                                     1.0
427   democrat  ...                                     1.0
428   democrat  ...                                     1.0
430   democrat  ...                                     1.0

[267 rows x 17 columns]

In [0]:
rep = df[df['Class Name'] == 'republican']

In [20]:
# one sample t test

# Need:
# Null hypothesis, alt hypothesis, CL

dem['adoption-of-the-budget-resolution'].mean()

0.8884615384615384

In [0]:
from scipy import stats

In [24]:
stats.ttest_1samp(dem['adoption-of-the-budget-resolution'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=19.859406568628835, pvalue=5.75931504660857e-54)

In [26]:
dem['adoption-of-the-budget-resolution'].value_counts(dropna=False)

1.0    231
0.0     29
NaN      7
Name: adoption-of-the-budget-resolution, dtype: int64

In [0]:
numerator = (dem['adoption-of-the-budget-resolution'].mean() - .5)
s = dem['adoption-of-the-budget-resolution'].std()
sqrt_n = np.sqrt(260)

denominator = s / sqrt_n
standard_error = denominator

In [37]:
t = numerator / standard_error
t

19.859406568628863

In [0]:
# Conclusion: Based on a p-value of 0 and a t-stat of 19.85, I reject the null hypothesis
# that democrats support for the budget bill is 50%, and suggest the alternative,
# that democrats support is not 50% (dems are not split on the issue).

# Reject null hypothesis.

<h1>Assignment Question 2</h1>

In [39]:
# 2 sample t test

stats.ttest_ind(dem['adoption-of-the-budget-resolution'], rep['adoption-of-the-budget-resolution'], nan_policy='omit')

Ttest_indResult(statistic=23.12119107755175, pvalue=6.013425749068062e-77)

In [0]:
# Based on the p value .01 and ttest of 23.2, I reject the null hypothesis that support
# for the bill is equal among dems and reps. I suggest the alt hypothesis where dem
# and rep support for the budget bill is not equal.

<h1>Assignment Question 3</h1>

In [42]:
stats.ttest_ind(dem['religious-groups-in-schools'], rep['religious-groups-in-schools'], nan_policy='omit')

Ttest_indResult(statistic=-9.694471882817886, pvalue=3.415425248481181e-20)

In [0]:
# Conclusion:
# Based on the p value of .01 and ttest of -9.69, I reject the null hypothesis that
# support for religious groups in school is equal among dems and reps.
# I suggest the null hypothesis where dem and rep support for religious groups in school
# is not equal.

<h1>Assignment Question 4</h1>

In [52]:
stats.ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.02491808700047811, pvalue=0.9801332440121653)

In [0]:
# Conclusion:
# Based on the p value of 0.1 and ttest stat of -0.02, I agree with the null
# hypothesis that dem and rep support of the water project bill is equal